# This is Git's per-user configuration file.
[user]
  name = Craig Wilson
  signingkey = 024D76F406B92860A0359B080829A6E83B73BC73
  email = craigjwilson93@gmail.com

[commit]
	gpgsign = true

[gpg]
	program = gpg

[alias]
  a = add -A
  cm = commit -m
  n = number
